/* * {
	margin: auto;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Open Sans",
		"Helvetica Neue",
		sans-serif;
} */

/* form {
	display: grid;
} */
input {
	/* margin: 5px 20px 5px 20px; */
	border: 3px soild;
	border-color: rgba(128, 128, 128, 0.5);
	border-radius: 5px;
	/*  */
	outline-color: rgba(215, 15, 15, 0.8);
}

input:hover {
	border-color: rgba(215, 15, 15, 0.8);
	transition: 0.4s;
}
/*
.inputBox {
	width: 40%;
	height: 40%;
	justify-content: center;

	background-color: white;
	border-radius: 35px;
} */

button {
	/* display: flex; */
	/* margin: 10px; */
	/*  */
	color: rgb(74, 74, 74);
	background-color: white;
	border: 3px soild;
	border-radius: 5px;
	border-color: rgba(128, 128, 128, 0.5);
}

button:hover {
	color: rgb(196, 0, 0);
	border-color: rgba(215, 15, 15, 0.8);
	transition: 0.5s;
}

/* .return {
	display: flex;
	align-items: center;
	right: 0;
}
.return a {
	text-align: center;
	color: rgba(64, 64, 64, 1);
}
.return a:visited {
	color: rgba(64, 64, 64, 1);
}
.return a:active {
	color: rgb(196, 0, 0);
}

.modify_creadit_aritst_block {
	display: flex;
} */

.artist_name_container {
	margin: 10px 10px 10px 10px;
}

.id_input {
	width: 60%;
	height: 20%;
}

.result_container {
	min-height: 50%;
}

.separator {
	width: 20px;
	height: 20px;
}
