{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended-type-checked",
		"plugin:@typescript-eslint/stylistic-type-checked",
		"prettier"
	],
	"overrides": [
		{
			"files": ["**/.eslintrc.{js,cjs}"],
			"parserOptions": {
				"sourceType": "script"
			},
			"extends": ["plugin:@typescript-eslint/disable-type-checked"]
		}
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"project": "./tsconfig.json",
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint"],
	"rules": {
		"@typescript-eslint/array-type": [
			"warn",
			{
				"default": "array-simple"
			}
		],
		"@typescript-eslint/consistent-type-definitions": "off",
		"@typescript-eslint/no-misused-promises": [
			"error",
			{
				"checksVoidReturn": {
					"arguments": false
				}
			}
		],
		"@typescript-eslint/no-unused-vars": [
			"error",
			{
				"args": "all",
				"argsIgnorePattern": "^_",
				"caughtErrors": "all",
				"caughtErrorsIgnorePattern": "^_",
				"destructuredArrayIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"ignoreRestSiblings": true
			}
		]
	},
	"ignorePatterns": ["**/*.d.ts"]
}
