{
	"printWidth": 160,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"requirePragma": false,
	"insertPragma": false,
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "auto",
	"rangeStart": 0,
	"plugins": [
		"prettier-plugin-ejs"
	],
	"embeddedLanguageFormatting": "auto",
	"experimentalTernaries": true
}