<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="../style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- prettier-ignore -->
		<%
		var artistName = "";
		if (artistResult != null) {
			for (let i = 0; i < albumResult.artist.length; i++) {
				for (let j = 0; j < artistResult.length; j++) {
					if (albumResult.artist[i] == artistResult[j].artistID) {
						if (i + 2 > albumResult.artist.length) {
							artistName += artistResult[j].name;
						} else {
							artistName += artistResult[j].name + " / ";
						}
						break;
					}
				}
			}
		} else {
			artistName = "N/A";
		}
		%>
		<title><%= albumResult.title + " - " + artistName%></title>
	</head>
	<body>
		<div>
			<a href="../index.html">return to index html</a>
		</div>
		<div>
			<p style="font-size: large"><%= albumResult.title %></p>
			<p style="font-size: small; color: royalblue"><%= artistName %></p>
			<button>Edit This Page</button>
		</div>
	</body>
</html>
