<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../addAndUpdatePage.css" />
		<title>New Song</title>
	</head>

	<body>
		<div class="header">
			<div class="return">
				<li><a href="../index.html">return to index html</a></li>

				<li><a href="../list/songs">return to song list page</a></li>
			</div>
		</div>
		<div class="inputBox">
			<table>
				<tr>
					<td>Title</td>
					<td><input type="text" name="albumTitle" placeholder="Enter Album Title" /></td>
				</tr>
				<tr>
					<td>Artist</td>
					<td><input type="text" name="albumArtist" placeholder="Enter Album Artist" /></td>
				</tr>

				<tr>
					<td></td>
					<td><button class="submitBottom">Submit</button></td>
				</tr>
			</table>
		</div>
	</body>
</html>
