<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Counter</title>
	</head>
	<body>
		<form>
			<h1>添加专辑</h1>
			<table>
				<tr>
					<td>标题</td>
					<td><input /></td>
				</tr>
				<tr>
					<td>专辑艺术家</td>
					<td><input /></td>
				</tr>
				<tr>
					<td>覆盖名称</td>
					<td><input /></td>
				</tr>
				<tr>
					<td>发行日期</td>
					<td><input /></td>
				</tr>
				<tr>
					<td>分类器</td>
					<td><input /></td>
				</tr>
			</table>
			<table id="track_listing">
				<tr>
					<td>曲目序号</td>
					<td>曲目</td>
					<td><button onclick="increment()">添加</button></td>
				</tr>
			</table>
		</form>
		<script src="../../src/track_listing.js"></script>
	</body>
</html>
