<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Add Release</title>
		<link rel="stylesheet" href="/style.css" />
		<!-- <link rel="stylesheet" href="/addAndUpdatePage.css" /> -->
	</head>
	<body>
		<form>
			<h1>添加发行</h1>
			<div>
				<div>
					<p>标题</p>
					<input />
				</div>
				<div style="display: flex">
					<div>
						<table id="credit_artist">
							<tr>
								<td><p>专辑艺术家</p></td>
								<td><button type="button" onclick="addCreditArtist()">+</button></td>
							</tr>
						</table>

						<!-- <input/><button type="button" onclick="removeCreaditArtist()">-</button> -->
					</div>
					<div style="width: 10%"></div>
					<div>
						<p>搜索艺术家</p>
						<div style="display: flex">
							<input type="text" name="" id="search_credit_artist_input" placeholder="Artist Name / Artist ID" />
							<button type="button" id="clear_search_credit_artist">清空</button>
						</div>

						<div style="border: 2px rgb(206, 37, 37) solid" class="result_container">
							<div id="artist_result_container"></div>
						</div>
					</div>
				</div>
				<div>
					<p>覆盖署名</p>
					<p><input /></p>
				</div>
				<div>
					<p>发行日期</p>
					<p><input type="date" name="" id="" /></p>
				</div>
				<div>
					<p>分类器</p>
					<p><input /></p>
				</div>
			</div>
			<script src="../../src/search_artist.js"></script>
			<div style="display: flex">
				<div>
					<table style="width: 400px" id="track_listing">
						<tr>
							<td>曲目序号</td>
							<td>曲目</td>
							<td><button type="button" onclick="addTrack()">添加</button></td>
						</tr>
					</table>
				</div>
				<div>
					<p>搜索曲目(还没做出来)</p>
					<input type="text" name="" id="" /><button>搜索</button>
					<div style="border: 2px rgb(206, 37, 37) solid">这里是结果</div>
				</div>
			</div>
		</form>
		<script src="../../src/edit_tracklisting.js"></script>
	</body>
</html>
