<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="../style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- prettier-ignore -->
		<title><%= release_title + " - " + release_artist_name%></title>
	</head>
	<body>
		<div>
			<a href="../index.html">return to index html</a>
		</div>
		<div>
			<p style="font-size: large"><%= release_title %></p>
			<p style="font-size: small; color: royalblue"><%= release_artist_name %></p>
			<div>
				<p>Track Listing</p>
				<%- track_listing_block %>
			</div>
			<button>Edit This Page</button>
		</div>
	</body>
</html>
